
<div id="impress" class="impress-not-supported">
div#impress
  div.fallback-message
    p Your browser <b> doesn't support the features required </b> by impress.js, so you are presented with a simplified version of this presentation.

    p For the best experience please use the latest <b>Chrome</b>, <b>Safari</b>, <b>Firefox</b> browser. Upcoming version 10 of Internet Explorer <i>should</i> also handle it.
