
div#impress

  div#title.step(data-x="0", data-y="0", data-scale="4")
    span Grokking
    h1
      a(href="http://www.cornify.com", onclick="cornify_add();return false;") Javascript
    p.by by
    p#author Zhon Johansen
    p @nohz
    p zhon@xputah.org
    p github.com/zhon

  div.step(data-x="-2000", data-y="-900", data-rotate="-40", data-scale="4")
    p Modernizer

  div.step(data-x="-1900", data-y="-880", data-rotate="-45", data-scale="4")
    p "use strict";

  div#lint.step(data-x="-1800", data-y="-850", data-rotate="-50", data-scale="3")
    p jslint.js

  div#javascript-is-cool.step(data-x="-1000", data-y="-1500", data-scale=1)
    img(src="/images/drwho_stetson.jpg", alt="Dr Who is Cool")
    p Javascript is cool

  div#objects.step(data-x="2800", data-y="950", data-rotate="50", data-scale="4")
    h1 Objects
    pre
      include ../../examples/person.js

  div#functions.step(data-x="800", data-y="2500", data-rotate="-30", data-scale="4")
    h1 Functions
    pre
      include ../../examples/reduce.js

  div#landmines.step(data-x="-2500", data-y="1500", data-rotate="-60", data-scale="4")
    h1 Landmines
      pre
        include ../../examples/wat.js
    p http://wtfjs.com/

  div.step(data-x="-450", data-y="1700", data-rotate="10", data-scale="4")
    h1 call

  div#q1.step(data-x="3000", data-y="-850", data-rotate="20", data-scale="3")
    pre
      include ../../quiz/function/call/1.js
    span.answer
      != "<a class='answer' href='#' onclick='this.parentNode.innerHTML=function(){"
      include ../../quiz/function/call/1.js
      != "}();return false;'>answer</a>"

      //-a(href='#', onclick='this.parentNode.innerHTML = "hello";return false;') Huh?



  div#q2.step(data-x="4700", data-y="300", data-scale="3")
    pre
      include ../../quiz/function/call/2.js

  div#q3.step(data-x="4000", data-y="900", data-z="30", data-rotate="30", data-scale="1")
    pre
      include ../../quiz/function/call/3.js

  div#q4.step(data-x="5500", data-y="1500", data-rotate="20", data-scale="3")
    pre
      include ../../quiz/function/call/4.js

  div#scope.step(data-x="500", data-y="1300", data-rotate="-50", data-scale="4")
    h1 scope

  div#sq1.step(data-x="5000", data-y="2500", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
    pre
      include ../../quiz/scope/functional/1.js

  div#sq2.step(data-x="5500", data-y="3000", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
    pre
      include ../../quiz/scope/functional/2.js

  div#sq3.step(data-x="6000", data-y="3500", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
    pre
      include ../../quiz/scope/functional/3.js

  div#sq4.step(data-x="6500", data-y="4000", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
    pre
      include ../../quiz/scope/functional/4.js

  div#sq5.step(data-x="7000", data-y="4500", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
    pre
      include ../../quiz/scope/functional/5.js

  div#conclusion.step(data-x="1900", data-y="3900", data-rotate="25", data-scale="4")
    h1 curry
    h1 closures
    h1 lexical scope
    h1 partial application
    h1 higher order functions
    p Javascript the Good Parts
    p underscore.js
    p jquery.js

  div#overview.step(data-x="3000", data-y="1500", data-scale="10")

//- needs to be last
script(src="javascript/impress.js")
script
  impress();
script(src="http://www.cornify.com/js/cornify.js")

